.none {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(200px, 1fr));
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
}

p {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 60%;
}

p a {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
}

#app {
  margin-top: 25vh;

  text-align: left;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 0;
}

#title {
  align-self: flex-start;
  color: #007bff;
}

#sign-up-div h2 {
  color: #007bff;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
}

.right-buttons {
  display: flex;
}

.right-buttons .btn {
  margin-left: 5px;
}

button#signup-submit {
  margin: 5px 0;
  display: inline;
}
