* html {
  margin: 0;
  padding: 1rem;
  font-size: 15px;
  box-sizing: border-box;
}
h1 {
  color: #fff;
  max-width: 38rem;
  padding-left: 10px;
  /* border-bottom: solid #007bff 2px;
    border-right: solid #007bff 2px; */
  background: rgb(0, 123, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 123, 255, 1) 20%,
    rgba(0, 76, 157, 1) 75%,
    rgba(0, 47, 98, 1) 100%
  );
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.43);
}
#app {
  margin-top: 10vh;
  text-align: left;
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 0;
}

#title {
  align-self: flex-start;
  color: #007bff;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
}

#review-element {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sent-reviews   {
  margin-right: 10px;
}

.right-buttons {
  display: flex;
}

.right-buttons .btn {
  margin-left: 5px;
}

.card {
  margin-bottom: 1em;
}